@import url("adumu/adumu.css");

body {
    margin: 0px;
    background-color: #000;
    color: #ffffff;

    width: 1920px;
    height: 1080px;

    font-family: "Adumu", sans-serif;
}

#template {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.1;
}

#app {
    position: absolute;
    top: 0px;
    left: 0px;
}

#pie {
    position: absolute;
    height: 182px;
    width: 182px;
    left: 480px;
    top: 857px;
    z-index: 999;
    transform: rotateZ(-90deg);
}
