body {
    margin: 0px;
    background-color: #1c1c1c;
    color: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

#id {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

#apply {
    font-size: 40px;
}

#showSelect, #colorSelect {
    border: 1px solid #ffffff;
    display: table;
    padding: 0.5rem 0.3rem;
}
#colorSelect {
    padding: 0.5rem 0.5rem
}
.showSelectItem {
    border: 1px dotted #ffffff;
    display: inline-block;
    padding: 0.5rem;
    margin: 0px 0.2rem;
    cursor: grab;
}
.showSelectItem:nth-child(even) {
    background-color: rgba(255, 255, 255, .1);
}
.showSelectItem input[type="color"] {
    display: block;
}

.diffBar {
    padding: 0.5rem;
    display: inline-block;
    border: 1px solid #ffffff;
    vertical-align: top;
}
.diffBarLine {
    display:table;
    padding: 1rem;
    border: 1px dotted #ffffff;
}
.unsaved {
    background-color: rgba(255, 255, 0, .2);
}
.diffBarLine * {
    vertical-align: middle;
}
.diffBarLine:nth-child(even) {
    background-color: rgba(255, 255, 255, .1);
}
